.innerInput {
  font-size: rem(16px);

  &::placeholder {
    color: '#6d747b';
  }
}

.innerInputError {
  &::placeholder {
    color: var(--mantine-color-red-6);
  }
}

.label {
  font-size: rem(16px);
  font-weight: 600;
}
