.label {
  font-weight: 500;
}

.root {
  &:active {
    background: var(--button-active, var(--button-bg));
  }

  &[data-variant='secondary'] {
    &:hover {
      border-color: var(--mantine-blue-500);
    }

    &:active {
      border-color: var(--mantine-blue-500);
      color: var(--mantine-blue-700);
    }
  }
}