.cartButton {
  position: relative;
  display: flex;
  align-items: end;
  width: rem(40px);
  height: rem(40px);
}

.count {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(21px);
  height: rem(21px);
  color: var(--mantine-color-white);
  border-radius: 50%;
}